<div class="h-screen px-4 pb-24 overflow-auto md:px-6">
  <!-- <h1 class="text-4xl font-semibold text-gray-800 dark:text-white">
    Dashboard
  </h1> -->
  <%-
  include(fromRoot('./partials/containers.ejs'),{containers:data.containers}) %>
</div>
